* {
	font-family: Courier;
}

h1, div, p {
	text-align: center;
}

div.border {
	border-style: solid;
}

footer {
	bottom: 10px;
	position: absolute;
}

footer a:link, footer a:visited {
	text-decoration: none;
	color: blue;
}

body > a:link, body > a:visited {
	padding: 20px 30px;
	position:relative;
	left:200px;
	top:50px;
	border-style: solid;
	border-width: 0;
	color: white;
	background-color: brown;
	text-decoration: none;
}

#contact {
	position: fixed;
	bottom: 10px;
	right: 10px;
	text-align: left;
}