* {
	font-family: Courier;
}

h1, div, p {
	text-align: center;
}

footer {
	bottom: 10px;
	position: absolute;
}

a:link, a:visited {
	text-decoration: none;
	color: blue;
}

#contact {
	position: fixed;
	bottom: 10px;
	right: 10px;
	text-align: left;
}